extends ./layout

block content
  form(
    method="post"
    action="/payment-methods"
    )
    #dropin
    input(
      type="submit"
      value="Pay $10"
    )

  script(src="https://js.braintreegateway.com/v2/braintree.js")
  script.
    braintree.setup(
    // Replace this with a client token from your server
    "#{clientToken}",
    "dropin", {
      container: "dropin"
    });
