extends ./layout

block content

  script(src="https://js.braintreegateway.com/v2/braintree.js")

  each charity in charities
    h3= charity.name
    form(
      method="post"
      action="/api/charities/#{charity._id}/payment"
      )
      #dropin
      input(
        type="submit"
        value="Pay $10"
      )

    script.
      braintree.setup(
      // Replace this with a client token from your server
      "#{clientToken}",
      "dropin", {
        container: "dropin"
      });
  else
    h1 No charities
